/node_modules/
.env
.idea
/building_dataset/cities_by_distance.json
/building_dataset/worldcities_filtered.json
/strava-distance-comparison-firebase-adminsdk-koc68-e74752edd8.json
Hello, {strava first name}.txt