@font-face {
    font-family: 'IBMPlexSans';
    src: url('/fonts/IBMPlexSans-Regular.ttf') format('truetype');
    font-weight: normal; 
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url('/fonts/IBMPlexSans-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url('/fonts/IBMPlexSans-Bold.ttf') format('truetype');
    font-weight: bold; 
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url('/fonts/IBMPlexSans-Italic.ttf') format('truetype');
    font-style: italic; 
}


.standard-font{
    font-family: 'IBMPlexSans', sans-serif;
    font-weight: 500;
}

.medium-font{
    font-family: 'IBMPlexSans', sans-serif;
}

.bold-font{
    font-family: 'IBMPlexSans', sans-serif;
    font-weight: bold;
}

.italic-font{
    font-family: 'IBMPlexSans', sans-serif;
    font-style: italic;
}

.bold-italic-font{
    font-family: 'IBMPlexSans', sans-serif;
    font-style: italic;
    font-weight: bold;
}


body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

header img {
    max-width: 400px;
    height: auto;
}

main {
    margin: 20px;
    flex-grow: 1;
}

.authentication-section {
    text-align: center;
    margin-bottom: 40px;
}

.authentication-section h2 {
    font-size: 32px;
}

.authentication-section p {
    font-size: 20px;
}

.authentication-section a img {
    max-width: auto;
    height: auto;
}

.app-info {
    text-align: center;
    margin-bottom: 40px;
}

.app-info h2 {
    font-size: 32px;
}

.app-info p {
    font-size: 20px;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: #333;
    color: #fff;
    font-size: 14px;
}



.toggle-switch {
    display: flex;
    align-items: center;
}


.switch input[type="checkbox"] {
    display: none;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 60px;
    height: 34px;
    background-color: #ccc;
    border-radius: 34px;
    transition: background-color 0.4s, transform 0.4s; 
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.4s; 
}

.switch input:checked + .slider {
    background-color: #2196F3; 
}

.switch input:checked + .slider:before {
    transform: translateX(26px); 
}

.switch input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}


.toggle-label {
    margin-left: 10px; 
    font-family: 'IBMPlexSans', sans-serif;
}

