@font-face {
    font-family: 'IBMPlexSans';
    src: url('/fonts/IBMPlexSans-Regular.ttf') format('truetype');
    font-weight: normal; 
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url('/fonts/IBMPlexSans-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url('/fonts/IBMPlexSans-Bold.ttf') format('truetype');
    font-weight: bold; 
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url('/fonts/IBMPlexSans-Italic.ttf') format('truetype');
    font-style: italic; 
}


.standard-font{
    font-family: 'IBMPlexSans', sans-serif;
    font-weight: 500;
}

.medium-font{
    font-family: 'IBMPlexSans', sans-serif;
    align-items: center;
    margin-bottom: 10px;
}

.medium-font label {
    margin-left: 10px;
}

.bold-font{
    font-family: 'IBMPlexSans', sans-serif;
    font-weight: bold;
}

.italic-font{
    font-family: 'IBMPlexSans', sans-serif;
    font-style: italic;
}

.bold-italic-font{
    font-family: 'IBMPlexSans', sans-serif;
    font-style: italic;
    font-weight: bold;
}


body {
    background-image: url('images/night-cities.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3); 
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(249, 142, 84, 0.3));
    color: #fff;
}

header img {
    width:50%;
    height: auto;
}

main {
    margin: 0 auto; 
    max-width: 800px; 
    padding: 20px;
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup {
    position: fixed;
    top: 10px;
    right: -300px;
    background-color: #f98e54;
    border-radius: 5px;
    color: #093d65;
    padding: 10px;
    transition: right 0.8s ease-in-out;
    z-index: 9999;
  }
  
.slide-in {
    right: -4px; 
}

#user-greeting {
    margin-bottom: 20px;
    margin-top: 0px;
  }
  
#user-profile-image {
    max-width: 200px;
    height: auto;
}


#preferences-form {
    text-align: center;
}


#preferences-form div {
    margin: 10px 0;
}


#delete-account {
    background-color: #ff5555; 
    color: #fff; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s;
}

#delete-account:hover {
    background-color: #ff3333;
}

.authentication-section {
    text-align: center;
    margin-bottom: 40px;
}

.authentication-section h2 {
    font-size: 32px;
}

.authentication-section p {
    font-size: 20px;
}

.authentication-section a img {
    max-width: auto;
    height: auto;
}

.app-info {
    text-align: center;
    margin-bottom: 40px;
}

.app-info h2 {
    font-size: 32px;
}

.app-info p {
    font-size: 20px;
}

footer {
    text-align: center;
    padding: 5px;
    background: linear-gradient(to bottom, rgba(249, 142, 84, 0.3),rgba(0, 0, 0, 0.3));
    color: #fff;
    font-size: 14px;
}

.toggle-switch {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}


.switch input[type="checkbox"] {
    display: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 60px;
    height: 34px;
    background-color: #093d65;
    border-radius: 34px;
    transition: background-color 0.4s, transform 0.4s; 
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.4s; 
}

.switch input:checked + .slider {
    background-color: #f98e54; 
}

.switch input:checked + .slider:before {
    transform: translateX(26px); 
}

.switch input:focus + .slider {
    box-shadow: 0 0 1px #f98e54;
}


.toggle-label {
    margin-left: 10px; 
    font-family: 'IBMPlexSans', sans-serif;
}

.content {
    padding: 20px;
    background-color: rgba(249, 142, 84, 0.3); 
    color:#fff;
}